<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.ulpgc.mesa.carlos.pem">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="firebase_messaging_auto_init_enabled"
        android:value="false" />
    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:name="es.ulpgc.mesa.carlos.pem.App.AppMediator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="es.ulpgc.mesa.carlos.pem.Home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.ulpgc.mesa.carlos.pem.SignIn.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="es.ulpgc.mesa.carlos.pem.Login.LoginActivity"
            android:screenOrientation="portrait"

            />
        <activity
            android:name="es.ulpgc.mesa.carlos.pem.AddBook.AddBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="es.ulpgc.mesa.carlos.pem.Usuario.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".InterestedPeople.InterestedPeopleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InterestedBooks.InterestedBooksActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MyBooks.MyBooksActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


    </application>

</manifest>